{% extends "todo/base.html" %}
{%block title %}List of Todos{% endblock %}

{% block content %}
	<div class="row">
        &nbsp;
    </div>
	<div class="row">
        <div class="col-md-6 col-sm-10 mx-auto p-0">
            <h2>Todo List</h2>
        </div>
    </div>
	<div class="row">
	  <div class="col-md-6 col-sm-10 mx-auto p-0">
		<div class="card p-3">
            <div class="">
                <table class="table-bordered table-hover" style="width:100%">
                {% for todo in todo_list %}
                    <tr>
                        <td class="text-center" style="padding-top: 0.5em; padding-bottom: 0.5em">
                            <a href="/polls/delete/{{ todo.id }}/" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash">Delete</span></a>
                        </td>
                        <td style="padding-left: 1em;">
                            {{ todo.title }}</a></li>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <br/>
            <div class="">
                <a href="/polls/insert" class="btn btn-primary" target="_self" "noopener noreferrer">Add Task</a>
            </div>
        </div>
	  </div>
	</div>
{% endblock %}

