{% extends "todo/base.html" %}
{%block title %}Add a Todo{% endblock %}
{% block content %}

	<div class="row">
        <div class="col-md-6 col-sm-10 mx-auto p-0">
            <h1 class="">Todo Insert</h1>
        </div>
    </div>
	<div class="row">
	  <div class="col-md-6 col-sm-10 mx-auto p-0">
		<div class="card p-3">
            <form action="{% url 'todo:insert' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter a title for the Todo"></title>
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="Enter a description for the Todo"></title>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
	  </div>
	</div>
{% endblock %}
